
<div class="container py-5">
<h2>Your Published Tweets</h2>


<% if current_user.twitter_accounts.any?  %>
    <%= link_to 'Schedule a Tweet', new_tweet_path  , class: "btn"%> 
<% else %>
    <%= link_to 'Connect Twitter Account', "/auth/twitter" , method: :post , class: "btn"%>
<% end %>

<div class="py-2">
<ul class="nav nav-pills mb-3  justify-content-center" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" href="/tweets">Upcomming</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/published_tweets">Published</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <%= render @published_tweets %>
    <div class="py-3">
    <%= will_paginate @published_tweets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , previous_label:  "Previous" , next_label:  "Next"   %>
    </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    </div>

</div>



</div>

</div>
