<h1>Accounts Page</h1>
<%= button_to 'Connect Twitter', "/auth/twitter", method: :post %>

<% @twitter_accounts.each do |account| %>
    <%= image_tag account.image, style:"border-radius:50%; width:40px; margin-top:10px" %>
    <%= link_to "@#{account.username}", "https://twitter.com/#{account.username}" , target: :_blank %>
    <%= button_to 'Disconnect', account , method: :delete , data: {confirm: "Are you sure?"} %>
    <br>
<% end %>
