<div class="container py-5">
<h2> Linked Twitter Accounts</h2>
<%= button_to 'Connect Twitter', "/auth/twitter", method: :post , class: "btn"%>
    <div class="pt-4">
    <%= render  @twitter_accounts %>
    </div> 
</div>


