
<div class="container pt-5">
    <div class="row pt-5">
        <div class="col-md-6">
            <h2>Schedule Tweets</h2>
            <p class="py-3">
            Scheduling Tweets for the future with one click. 
            </p>
            <% if user_signed_in? %>
            <p class="pt-4">
                Hey, <%= current_user.email%>
            </p>
            <p>
            Try it now by  <%= link_to 'Connect Twitter', "/auth/twitter", method: :post , class: "btn"%>
            </p>

            <% else %>
            <p class="py-5"> 
            Try it now by <%= link_to 'Sign Up', new_user_registration_path  , class: "btn"%>
            </p>
            <% end %>
        </div>
        <div class="col-md-6">
        <%= image_tag 'landing.svg' %>
        </div>
    </div>
</div>


